@import "tailwindcss";

:root {
  --background: #FFFFFF; /* White */
  --foreground: #0B1215; /* Midnight Abyss */
  --primary: #004C97; /* Logo Blue */
  --secondary: #108E2B; /* Logo Green */
  --border: #E5E5E5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --font-sans: "Clash Grotesk", sans-serif;
  --font-mono: "Clash Grotesk", monospace;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
